.hero{
    background-image: url('../images/bg.jpg'); 
    margin-top: 6px;
}
h2{
    font-size: 100px;
    color: white;
    text-shadow: rgb(rgba(27, 183, 27, 0.952), rgb(236, 9, 179), rgb(214, 211, 30));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.index{
    margin-top: 20px;
}
p{
    text-align: justify;
}
.card-deck {
    margin-top: 150px;
}